.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: slategrey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  box-sizing: border-box;
}