.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formWrapper {
  width: 80%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  border-bottom: 1px solid rgba(0,0,0,0.09);
}

.form {
  width: 100%;
}


.input{
  width: 100%;
  margin-bottom: 20px !important;
}

.alertCenter {
  margin: 40px auto;
  margin-bottom: 0;
}